@model IEnumerable<AccountManagement.Domain.Contacts.ContactUs>
@using System.Text.Encodings.Web
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @HtmlEncoder.Default.Encode(item.FullName)
                </td>
                <td>
                    @HtmlEncoder.Default.Encode(item.Email)
                </td>
                <td>
                    @HtmlEncoder.Default.Encode(item.Subject)
                </td>
                <td>

                    <textarea style="width:200px;height:100px">@HtmlEncoder.Default.Encode(item.Text)</textarea>

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
